[Desktop Entry]
Name=Sparky Tube
GenericName=Sparky Tube

# Inglês
Comment=Download and play videos from YouTube

# Alemão
Comment[de]=Laden Sie Videos von YouTube herunter und spielen Sie ab

# Grego
Comment[el]=Κατεβάζει και παίζει βίντεο από το YouTube

# Finlandês
Comment[fi]=Lataa ja toista videoita YouTubesta

# Francês
Comment[fr]=Téléchargez et lisez des vidéos de YouTube

# Italiano
Comment[it]=Scarica e riproduce video da YouTube

# Japonês
Comment[ja]=YouTube 動画をダウンロードおよび再生します

# Polonês
Comment[pl]=Pobieraj i odtwarzaj filmy z YouTube

# Português (Brasil)
Comment[pt_BR]=Baixar e reproduzir vídeos do YouTube

# Português de Portugal
Comment[pt_PT]=Faça o download e reproduza vídeos do YouTube

# Russo
Comment[ru]=Скачивание и воспроизводение видео с YouTube

# Ucraniano
Comment[uk]=Завантаження та відтворення відео з YouTube


Type=Application

# Terminal=false
Terminal=True

Exec=/usr/local/bin/sparky-tube.sh
Icon=sparky-tube


# Pode adicionar uma opção de pesquisa a um arquivo .desktop usando a chave Keywords=. A 
# chave Keywords permite que você forneça uma lista de palavras-chave associadas ao 
# aplicativo, facilitando a pesquisa e a categorização do programa em menus e lançadores 
# de aplicativos.

# As palavras-chave definidas na chave Keywords são usadas pelos sistemas de menus e 
# mecanismos de pesquisa, como o GNOME ou KDE, para ajudar a localizar e identificar o 
# aplicativo quando o usuário pesquisa no menu de aplicativos ou na pesquisa global.


# Boas práticas:

#  As palavras-chave devem ser separadas por ponto e vírgula (;).
#  Use palavras que sejam relevantes para o aplicativo e que o usuário possa pesquisar.
#  As palavras-chave podem incluir sinônimos ou termos comuns relacionados ao seu aplicativo.

# Isso ajuda a tornar seu aplicativo mais fácil de encontrar ao buscar por termos relacionados.


# Inglês
Keywords=yt-dlp;sparky-tube;download;video;YouTube;play;streaming;online-videos;media;video-player;site-video;playback;

# Alemão
Keywords[de]=yt-dlp;sparky-tube;herunterladen;video;YouTube;abspielen;streaming;online-videos;medien;video-player;video-seite;wiedergabe;

# Grego
Keywords[el]=yt-dlp;sparky-tube;κατέβασμα;βίντεο;YouTube;αναπαραγωγή;ροή;βίντεο-στο-διαδίκτυο;μέσα;αναπαραγωγέας-βίντεο;ιστότοπος-βίντεο;αναπαραγωγή-βίντεο;

# Finlandês
Keywords[fi]=yt-dlp;sparky-tube;ladata;video;YouTube;toistaa;suoratoisto;verkkovideot;media;videon-soitin;videopalvelu;toistaminen;

# Francês
Keywords[fr]=yt-dlp;sparky-tube;télécharger;vidéo;YouTube;lire;streaming;vidéos-en-ligne;média;lecteur-de-vidéo;site-de-vidéo;lecture;

# Italiano
Keywords[it]=yt-dlp;sparky-tube;scaricare;video;YouTube;riprodurre;streaming;video-online;media;lettore-video;sito-video;riproduzione;

# Japonês
Keywords[ja]=yt-dlp;sparky-tube;ダウンロード;動画;YouTube;再生;ストリーミング;オンライン動画;メディア;ビデオプレーヤー;動画サイト;再生;

# Polonês
Keywords[pl]=yt-dlp;sparky-tube;pobierz;wideo;YouTube;odtwarzanie;streaming;filmy-online;media;odtwarzacz-wideo;strona-wideo;odtwarzanie-wideo;

# Português (Brasil)
Keywords[pt_BR]=yt-dlp;sparky-tube;baixar;vídeo;YouTube;reproduzir;download;streaming;vídeos-online;media;video-player;site-de-video;reprodução;

# Português de Portugal
Keywords[pt_PT]=yt-dlp;sparky-tube;descarregar;vídeo;YouTube;reproduzir;streaming;vídeos-online;mídia;reprodutor-de-vídeo;sitio-de-vídeo;reprodução;

# Espanhol
Keywords[es]=yt-dlp;sparky-tube;descargar;vídeo;YouTube;reproducir;streaming;vídeos-en-línea;media;reproductor-de-vídeo;sitio-de-vídeo;reproducción;

# Russo
Keywords[ru]=yt-dlp;sparky-tube;скачать;видео;YouTube;воспроизвести;стриминг;видеоролики-онлайн;медиа;видеоплеер;видео-сайт;воспроизведение;

# Ucraniano
Keywords[uk]=yt-dlp;sparky-tube;завантажити;відео;YouTube;відтворення;стрімінг;відео-онлайн;медіа;відео-плеєр;вебсайт-відео;відтворення-відео;


Categories=GTK;AudioVideo;Player;Video;

