[Desktop Entry]
Name=Sparky Tube MP3
GenericName=Sparky Tube MP3
Comment=Download videos to MP3
Comment[pl]=Pobierz wideo do MP3
Comment[pt_BR]=Baixar vídeos em MP3
Type=Application
Terminal=false
Exec=/usr/bin/sparky-quick-mp3
Icon=multimedia-audio-player
Keywords=video;internet;download;youtube
Categories=GTK;AudioVideo;Player;Video;
