[Desktop Entry]
Name=Sparky Tube MP4
GenericName=Sparky Tube MP4
Comment=Download videos to MP4
Comment[pl]=Pobierz wideo do MP4
Comment[pt_BR]=Baixar vídeos em MP4
Type=Application
Terminal=false
Exec=/usr/bin/sparky-quick-mp4
Icon=multimedia-video-player
Keywords=video;internet;download;youtube
Categories=GTK;AudioVideo;Player;Video;
