[Desktop Entry]
Name=Sparky Tube
GenericName=Sparky Tube
Comment=Download and play videos from YouTube
Comment[de]=Laden Sie Videos von YouTube herunter und spielen Sie ab
Comment[fr]=Téléchargez et lisez des vidéos de YouTube
Comment[pl]=Pobieraj i odtwarzaj filmy z YouTube
Comment[pt_BR]=Baixar r reproduzir videos do YouTube
Comment[pt_PT]=Faça o download e reproduza vídeos do YouTube
Type=Application
Terminal=false
Exec=/usr/bin/sparky-tube
Icon=/usr/share/pixmaps/sparky-tube.png
Keywords=video;internet;download;youtube
Categories=GTK;AudioVideo;Player;Video;
